{% extends 'book/base.html'%}
{% block content %}
  <body>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Книги</h5>
    <p class="card-text">Найди себе приключение</p>
    <a href="{% url 'book:search_book' %}" class="btn btn-primary">Искать книгу</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Авторы</h5>
    <p class="card-text">Найди своего наставника</p>
    <a href="{% url 'book:search_author' %}" class="btn btn-primary">Искать автора</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Жанры</h5>
    <p class="card-text">ЖАНРЫ! </p>
    <a href="{% url 'book:search_genre' %}" class="btn btn-primary">Жанры!!!</a>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
{% endblock %}