{% extends 'book/base.html'%}
{% block content %}
<form action="{% url 'reader:reader_create' %}" method="POST">
    {% csrf_token %}
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.name.errors }}
    {{ form.surname.label_tag }}
    {{ form.surname }}
    {{ form.surname.errors }}
    {{ form.date_birth.label_tag }}
    {{ form.date_birth }}
    {{ form.date_birth.errors }}
    {{ form.slug.label_tag }}
    {{ form.slug }}
    {{ form.slug.errors }}

    <button type="submit">Добавить</button>
</form>
{% endblock %}
